beautifulsoup4==4.5.3
lxml==3.7.3
nltk==3.2.2
-e git+git@github.com:benhoyle/patentdata.git@e45d28ef75e7526f27e5a6b3bc8ed93af3d4667b#egg=patentdata
pkg-resources==0.0.0
py==1.4.32
pytest==3.0.6
python-dateutil==2.6.0
python-epo-ops-client==2.1.0
requests==2.13.0
six==1.10.0
